.page.clubs-form {

  .page.clubs;

  label {
    margin-top: 1rem;
  }

  .choiceGroup {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 1rem auto;
  }

  .proceed {
    margin-bottom: 2rem;
    text-align: center;

    .btn {
      margin: 1rem;
    }

    .progressBar {
      width: 100%;
      text-align: center;
      position: relative;

      .outer {
        width: ~"calc(30% - 3em)";
      }
    }
  }
}
